bg-success{background-color:#198754!important}
.bg-info{background-color:#0dcaf0!important}
.bg-warning{background-color:#ffc107!important}
.bg-danger{background-color:#dc3545!important}

.bg-th{
  align-items: center;
  align-content: center;
  background-color:black;
  color: white;
}

/* Encabezados fijos */
.table thead th {
  position: sticky;
  top: 0;                 /* Fijar en la parte superior */
  background-color: #212529; /* Mismo color que .table-dark */
  color: white;
  z-index: 2;             /* Asegura que queden sobre las celdas */
}

/* Si usas bordes, mejora el contraste */
.table-bordered thead th {
  border-bottom: 2px solid #444;
}

.badge-service{
  font-size: 14px;
}

/* Stilos Modal adminUser */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.btn-plus-User{
  
  margin: 0px 15px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-plus-User > .btn{
  color: #fff;
  background: rgba(0, 0, 0, .8) !important;
}

@media (min-width: 750px) {
  .chart{
    display: block;
    box-sizing: border-box;
    height: 682.8px;
    width: 682.8px;
  }
}
