bg-success{background-color:#198754!important}
.bg-info{background-color:#0dcaf0!important}
.bg-warning{background-color:#ffc107!important}
.bg-danger{background-color:#dc3545!important}

.bg-th{
  align-items: center;
  align-content: center;
  background-color:black;
  color: white;
}

/* Encabezados fijos */
.table thead th {
  position: sticky;
  top: 0;                 /* Fijar en la parte superior */
  background-color: #212529; /* Mismo color que .table-dark */
  color: white;
  z-index: 2;             /* Asegura que queden sobre las celdas */
}

/* Si usas bordes, mejora el contraste */
.table-bordered thead th {
  border-bottom: 2px solid #444;
}

.badge-service{
  font-size: 14px;
}

.msgFlashActive {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.msgFlashHidden {
  opacity: 0;
  pointer-events: none;
}


.text-truncate {
  max-width: 250px;     /* ajusta el ancho */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* #btnHelpReport{
  position: fixed;
  top: 90%;
  right: 10px;
} */
#btnHelpReport{
  float: right;
}


/* Stilos Modal adminUser */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.modal-content textarea {
  text-transform: uppercase;
}

.modal-content h3 {
  font-family: monospace;
}

.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input, select {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
}

.modal button{
  margin-top: 10px;
  width: 100%;
}

.idInput {
  background: rgb(0 0 0 / 9%);
  outline: none !important;
}

.idInput:hover {
  cursor: no-drop;
}

.modal-content textarea {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 20px;
  resize: vertical; /* Permite redimensionar verticalmente */
}

#modalHelpReportContent{
  max-height: 100vh;
  height: 80%;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

/* Stilos Modal adminAlert */
.modal-loadData {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.content-loadData {
  background: #fff;
  margin: auto;
  margin-top: 5vh;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 90%;

  max-height: 90vh;     /* ocupa casi toda la pantalla */
  overflow: auto;       /* ✅ SCROLL GENERAL */
  display: flex;
  flex-direction: column;
}


.table-container {
  flex: 1;                    /* ocupa espacio disponible */
  overflow: auto;             /* scroll horizontal y vertical */
  max-width: 100%;
  border: 1px solid #dee2e6;
}

/* Evita que las columnas se rompan */
#excelTable {
  white-space: nowrap;
}

.table-primary{
  background: #d4d1d1;
}

.rowFixedLoadData{
  width: 50px;
  text-align: center;
}

.btn-close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
.closeCausaModal {
  float: right;
  font-size: 22px;
  cursor: pointer;
}

#closeLoadModal {
  padding: 5px;
  text-align: end;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: rgba(0,0,0,0.5);
}
/* fin Modal adminAlert */

.btn-plus{
  
  margin: 0px 15px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-plus > .btn{
  margin: 5px;
  color: #fff;
  background: rgba(0, 0, 0, .8) !important;
}

.form-filter > button{
  width: 18% !important;
  height: 40px !important;
  background: #5cb85c;
  color: white;
  font-weight: 600;
}

.form-filter > input{
  width: 60% !important;
  height: 40px !important ;
}

.form-filter > select{
  width: 20% !important;
  height: 40px !important;
}


@media (min-width: 1024px) {

  .modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 90%;
  }
}


@media (max-width: 750px) {

  .modal{
    top: 80px;
  }

  .modal button{
    margin-top: 10px;
    width: 100%;
  }

  .infoUser-profile{
    margin: 14%;
  }

  .infoUser-profile section{
    font-size: 17px;
  }

  .profile-opbutton{
    width: 94%;
    margin: 10px;
  }

  .button-export{
    margin: 10px;
    width: 94%;
  }

  .content-chart{
    padding: 16%;
  }

  .chart{
    display: block;
    box-sizing: border-box;
    max-width: 472px; 
    max-height: 307px;  
    height: 307px; 
    width: 472px;
  }
}


